h2 {
    background-color:#000000;
    color: #fce300;
}
p {background-color: #fce300;}
html {background-color: #fce300;}
h2 {padding-left: 150px;}
<h1 class="title">Web Portfolio von Raphael</h1>
.title 
{ font-size: 65px;
   font-size: 65px;
}

